.lt-ie9 .landing-login input {
	line-height: 58px;
}
.lt-ie9 .modal-dialog {
	max-width: 570px;
}
.lt-ie9 .modal-dialog textarea {
	width: 100%;
}
.lt-ie9 .landing .atf {
	background-image: url(imgs/bg-splash-a-ie8.jpg);
	background-position: 50% 50%;
}